<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trafikVarMi</key>
	<true/>
	<key>motorVarMi</key>
	<true/>
	<key>ilkYardimVarMi</key>
	<true/>
	<key>trafikSoruSayisi</key>
	<integer>10</integer>
	<key>motorSoruSayisi</key>
	<integer>10</integer>
	<key>ilkYardimSoruSayisi</key>
	<integer>10</integer>
</dict>
</plist>
